{% layout 'layout' %}

{% block single %}
  <div id="uno">
    <h1>A streamlabs&reg; customer api (node) client</h1>
    <a href='/connect' class='btn'>connect to streamlabs&reg;</a>
  </div>
{% endblock %}
