{% layout 'layout' %}

{% block single %}
  <div class='single'>
    <section>
      <p>A streamlabs customer api (node) client</p>
      <a href='/connect' class='btn'>Connect to Streamlabs</a>
    <section>
  </div>
{% endblock %}
