<main>
  <section>
    <h2>Request</h2>
    <pre class="language-http">
      <code class="language-http" >
        <br />
        {{-client.request.line | highlight:'http' }}
        <br />
        {{-client.request.body | highlight:'json' }}
      </code>
    </pre>
    <h2>Response</h2>
    <pre class="language-http">
      <code class='language-http'>
        <br />
        {{-client.response.line | highlight:'http' }}
        <br />
        {{-client.response.body | highlight:'json' }}
      </code>
    </pre>
  </section>
</main>
