<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/style.css' />
  </head>
  <body>
    {% include 'nav' %}
    <h1>{{ title }}</h1>
    <main>
    {% block %}
    {% endblock %}
    </main>
  </body>
</html>
