body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

button,
.btn {
  display: inline-block;
  font-size: 1.5em;
  background: #00B7FF;
  color: #fff;
  font-weight: 700;
  border: 1px solid transparent;
  border-radius: 30px;
  min-width: 4em;
  padding: 1rem 2rem;
  margin: 1em;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.btn:hover,
.btn:active,
button:hover,
button:active {
  background: #fff;
  color: #00B7FF;

}

button:focus{
  outline:0;
}
